body{margin: 0; padding: 0;}

header{background-color: black; color: azure; height: 100px;}

.logo img{width: 100px; height: 100px; position: absolute;
left: 0;}
.logo{display: flex; justify-content: center; text-align: center;
        gap: 10px; position: relative;}

#google_translate_element{position: fixed; right: 20px;}

h1{font-family: Georgia, 'Times New Roman', Times, serif; font-size: 40px;}

button{border-radius: 10px; padding: 10px;}
button:hover{text-decoration: none; transform: translateY(2px); box-shadow: 0 2px 4px rgba(143, 143, 143, 0.2);}
button a:hover{text-decoration: none; color: black;}

nav{text-align: center; padding-top: 10px;}

button a{text-decoration: none; color: black; margin: 20px;}

article{width: 550px; height: 400px; text-align: center; margin: 20px auto; border: 2px solid purple;
        border-radius: 10px;  background-color: darkgrey;}
article img{width: 400px; height: 200px; margin: 20px; border-radius: 10px; border: 2px solid purple;}
article p{padding: 20px; text-align: justify ;}

main{background-color: #464646; padding: 20px;}

.galeria img{width: 250px; height: 250px; border-radius: 10px;}

.tattos{display: inline-flex; flex-wrap: wrap; gap: 10px;}
.realismo{display: inline-flex; flex-wrap: wrap; gap: 10px;}

h2{text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; color: white;}
h4{margin: 0;}

section{width: 60%; margin: auto; border: 2px solid purple;
        border-radius: 20px; background-color: darkgrey; text-align: center; margin: 20px auto;}

hr{width: 50%; border: 1px solid purple;}

.cajita{display: flex; width: 80%; margin: auto;
        justify-content: center; gap: 50px; margin-bottom: 20px;}

.cajita a{color: white}

ul{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;}

.informacion, .mapa{width: 150px;}

footer{text-align: center; background-color: black; color: white; padding: 20px; display: block;}
