header{background-color: black; color: azure; height: 100px;}


.logo img{width: 100px; height: 100px; position: absolute;
left: 0;}
.logo{display: flex; justify-content: center; text-align: center;
        gap: 10px; position: relative;}

h1{font-family: Georgia, 'Times New Roman', Times, serif; font-size: 40px;}

article{width: 450px; height: 400px; text-align: center; margin: 50px auto; border: 2px solid yellowgreen;
        border-radius: 10px;  background-color: cadetblue;}
article img{width: 300px; height: 200px; margin: 20px; border-radius: 10px;}

main{background-color: #adadadcd; margin: 0px, 40px;}






footer{text-align: center; background-color: grey; color: white;
        width: 95%; padding: 20px;}
