body{margin: 0; padding: 0;}

header{background-color: black; color: azure; height: 100px;}

.logo img{width: 100px; height: 100px; position: absolute; left: 0;}
.logo{display: flex; justify-content: center; text-align: center;
        gap: 10px; position: relative;}

#google_translate_element{position: fixed; right: 20px;}

h1{font-family: Georgia, 'Times New Roman', Times, serif; font-size: 2.5rem;}
h2{text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; color: white; font-size: 1rem;}
h3{font-size: 1.2rem;}
h4{margin: 3px; color: coral;}
.contacto{font-size: 1.3rem;}

button{border-radius: 10px; padding: 10px; background-color: #202020; color: white;}
button:hover{text-decoration: none; transform: translateY(2px); box-shadow: 0 2px 4px #8f8f8f33; background-color: darkgray;}
button a:hover{text-decoration: none;}
button a{text-decoration: none; margin: 20px;}

nav{text-align: center; padding-top: 10px;}

.contenedor{display: flex; flex-wrap: wrap; gap: 2vw; padding: 2vw; justify-content: center; width: 90%; box-sizing: border-box;
                background-color: #757575;}

article{width: clamp(220px,25vw,30vw); height: 30%; text-align: justify; margin: 1rem; border: 0.15rem solid purple;
        border-radius: 0.6rem;  background-color: darkgrey; display: flex; flex-direction: column; align-items: center;
        box-sizing: border-box;}
article img{width: 90%; height: 20vw; min-height: 180px; margin-top: 1rem; border-radius: 0.6rem; border: 0.15rem solid purple;
        object-fit: cover;}
article p{padding: 0 1rem; text-align: justify; font-size: 1rem;}

main{background-color: #464646; padding: 20px;}

.galeria img{width: 200px; height: 200px; border-radius: 10px;}
.galeria img:hover{filter: brightness(0.6);}

.tattos{display: inline-flex; flex-wrap: wrap; gap: 10px;}
.realismo{display: inline-flex; flex-wrap: wrap; gap: 10px;}

section{width: 50%; margin: auto; border: 2px solid purple;
        border-radius: 20px; background-color: darkgrey; text-align: center; margin: 20px auto;}

hr{width: 45%; border: 1px solid purple;}

.cajita{display: flex; width: 80%; margin: auto;
        justify-content: center; gap: 50px; margin-bottom: 20px;}
.cajita a{color: yellowgreen}

ul{list-style: none; margin: 0; padding: 0;}

a{text-decoration: none;}
a:hover{color: lime; text-decoration: underline;}

.informacion, .mapa{width: 150px;}

footer{text-align: center; background-color: black; color: white; padding: 20px; display: block;}

@media(max-width: 700px){
        header{width: auto;}
        .logo{height: auto; position: static;}
        h1{white-space: normal; text-align: justify;}
}

@media(max-width:450px){
        .logo h1{font-size: 2rem;}
        .realismo img{width: 80%;
        height: auto;
        margin: auto;}
}

@media(max-width:390px){
        .logo h1{font-size: 1.5rem;}
        .contacto{font-size: 0.8rem;}
}





/* javaScript */

.ampliada {transform: scale(2.5); z-index: 1; position: relative;}

/*.hover-activo { transform: scale(0.9); filter: brightness(0.6);}*/

/*.galeria img {width: 200px; transition: transform 0.3s ease, filter 0.3s ease; cursor: pointer;}*/
